@using FundRaiser.Model
@model IEnumerable<FundRaiser.Options.ProjectOption>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<form asp-action="Index">
    <p>
        Search by Title: <input type="text" name="searchString" />
    </p>
    <p>
        Select Category
        <select asp-items="Html.GetEnumSelectList<Category>()" name="category">
            <option value="">Select category</option>
        </select>
    </p>
    <input type="submit" value="Filter" />
    
</form>
<form asp-action="Index">
    <input type="text" name="trending" value="trending" hidden readonly />
    <input type="submit" value="GetProjectsTrending" />
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Logo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TimeStamp)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SetGoal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AmountPledged)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Category)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Logo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TimeStamp)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SetGoal)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AmountPledged)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StartDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EndDate)
                </td>
                <td>
                    <a asp-controller="ProjectPage" asp-action="Details" asp-route-id="@item.ProjectId">Details</a> |
                </td>
            </tr>
        }
    </tbody>
</table>
